<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>movie 2 see</title>
    <link rel="shortcut icon" href="/img/icon.png" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline" rel="stylesheet">
</head>

<body>
    {{> nav}}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card-seemovie" style="width: 20rem;">
                    <div class="card-body">
                        <a href="/bladerunner">
                            <img class="card-img-top" src="/img/movie_card/{{informationmovie.img}}" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            {{!-- <h4 class="card-title"> --}}
                                <font size="2"><center>{{informationmovie.title}}</center></font>
                            {{!-- </h4> --}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="movie-trailer">
                    <iframe width="729px" height="353px" src="{{informationmovie.trailer}}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <br>
        <center>
            <div class="container-iframe">
                <br>
                <iframe width="640" height="350" src="{{informationmovie.movieLink}}" frameborder="0" allowfullscreen></iframe>
                <br><br>
            </div>
        </center>
        <br><br>
        
    </div>



</body>

</html>